body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*LandingPage section*/
.landingPage {
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/*Booking section*/
.booking-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f3f6fd;
  background-size: auto;
  width: 100%;
  min-height: 100vh;
}
.booking-header {
  margin: 30px 0;
  padding: 0;
}
.logo {
  color: #0b34ea;
}
.booking-header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #8c97a8;
  margin: 0;
  padding: 0;
}
.booking-header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 25%;
  background-color: white;
  margin: 0 2px;
}
.booking-header ul li:hover {
  border: 1px solid #c9d8cc;
  background-color: #74c685;
  color: white;
  padding: 25px 35px;
  box-shadow: 0px 24px 57px 0px rgba(186, 186, 186, 0.75);
  -webkit-box-shadow: 0px 24px 57px 0px rgba(186, 186, 186, 0.75);
  -moz-box-shadow: 0px 24px 57px 0px rgba(186, 186, 186, 0.75);
}
.booking-header ul li a {
  text-decoration-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.booking-header ul li a span {
  text-decoration-style: none;
}
.booking-header-navlist {
  display: inline;
  padding: 20px 0;
}
.booking-header-navlist a {
  text-decoration-style: none;
  list-style-type: none;
  color: #9ea4c4;
}
.booking-header-navlist a:hover {
  color: white;
}
.booking-header-navlist {
  padding: 20px 0;
  text-decoration-style: none;
  list-style-type: none;
}
.booking-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-header {
  color: #6682e2;
}
.form-logo {
  color: #0b34ea;
}
.input-group-append {
  cursor: pointer;
}
.form-option {
  height: 4rem;
  overflow: auto;
}

/*itinerary section */
.itinerary-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #e9f0f8;
  background-size: auto;
  width: 100%;
  min-height: 100vh;
  border: 0;
  border-left: 1px solid rgba(186, 186, 186, 0.75);
}
.itinerary-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #3045a3;
  width: 100%;
}
.itinerary-header-results-found {
  color: #9ea4c4;
}
.itinerary-header nav {
  padding: 0;
  padding-right: 50px;
}
.itinerary-header nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding-right: 30px;
  padding: 0 30px;
}
.itinerary-header li {
  width: 25%;
  background-color: white;
  font-size: 14px;
  margin: 0 10px;
  text-decoration-style: none;
  list-style-type: none;
  background-color: #e9f0f8;
}
.itinerary-header-btn {
  list-style-type: none;
  text-decoration-style: none;
  background-color: #faf9f6 !important;
  border: 0 !important;
  border-radius: 25px !important;
  padding: 6px 20px !important;
}
.itinerary-header-btn:hover {
  background-color: #0c5ed7 !important;
  color: #ffffff !important;
}
.itinerary-header-card {
  padding: 20px 0 30px 0;
  margin: 0;
  color: #3045a3;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  border-radius: 10px;
}
.itinerary-header-card-icon {
  color: #9ea5c4;
}
.itinerary-main {
  width: 100%;
  padding: 0 40px;
  background-color: #e9f0f8 !important;
}
.itinerary-main-card-container {
  background-color: #e9f0f8 !important;
  width: 100%;
}
/* .itinerary-main-card-container .container {
  width: 100%;
} */
.itinerary-main-card {
  background-color: #f3f6fd !important;
  padding: 15px 0;
  color: #3045a3;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(186, 186, 186, 0.75);
  box-shadow: 0px 4px 16px 0px rgba(122, 118, 118, 0.75);
  -webkit-box-shadow: 0px 4px 16px 0px rgba(122, 118, 118, 0.75);
  -moz-box-shadow: 0px 4px 16px 0px rgba(122, 118, 118, 0.75);
}
.itinerary-main-card-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3045a3;
}
.itinerary-main-card-img {
  background-color: #f3f6fd !important;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
}
.itinerary-main-card-innerspan {
  border: 1px solid #c9d8cc;
  border-radius: 25px;
  background-color: #3045a3;
  color: white;
  padding: 5px 18px;
}
.itinerary-main-card-innerspan-title {
  font-size: 18px;
}
.itinerary-main-card-innerspan-duration {
  font-size: 18px;
}
.itinerary-main-card-innerspan-time {
  font-size: 18px;
  font-weight: 200;
}
.itinerary-main-card-innerspan-date {
  font-size: 22px;
  font-weight: 300;
}
.VqMBs {
  padding: 0;
}
.bPokRt:not(:last-of-type) {
  border-bottom-style: none !important;
}
.hRfGpm {
  display: block !important;
  line-height: 200% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.fMOMgT {
  background-color: #e9f0f8 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
